templateData:
	site:
		title: 'Template Engine Consolidation Test'

plugins:
	consolidate:
		# Ignore rendering of problematic template engines.
		toffee: false
		jqtpl: false
		nunjucks: false
		ractive: false
